.photograph-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  border-radius: 5px;
}
.photograph-header .photographer-info {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.photograph-header .photographer-info h1 {
  font-family: DM Sans;
  font-weight: normal;
  font-size: 64px;
  line-height: 83px;

  color: #d3573c;
}
.photograph-header .photographer-info .location {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 45px;
  color: #901c1c;
}
.photograph-header .photographer-info .tagline {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;

  color: #525252;
}
.photograph-header .portrait {
  width: 33%;
  display: flex;
  justify-content: end;
}
.photograph-header .portrait img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.contact_button:hover {
  background-color: #db8876;
}

.order-by {
  display: flex;
  align-items: center;
  margin: 50px 100px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}
.order-by .filter {
  margin-left: 20px;
  position: relative;
}

.order-by .filter select {
  list-style: none;
  background-color: #901c1c;
  width: 170px;
  padding: 10px;
  color: white;
  margin-left: 5px;
  border-color: #901c1c;
  border-radius: 5px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

.order-by .filter .selector {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #901c1c;
  color: white;
  border-radius: 5px;
  pointer-events: none;
}


.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 100px;
}
.images-container .images-card {
  margin-top: 50px;
}
.images-container img,
.images-container video {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.images-container .images-card .images-info {
  display: flex;
  justify-content: space-between;
}
.images-container .images-card .images-info .images-likes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-align: right;

  color: #911c1c;
}
.images-container .images-card .images-info .images-likes .likes {
  margin-right: 10px;
}
.images-container .images-card .title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;

  color: #911c1c;
}

.filled {
  font-weight: 900;
}
.empty {
  font-weight: 400;
}

.photograph-stats {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 89px;
  width: 376px;
  right: 13px;
  bottom: 0px;

  background: #db8876;
  border-radius: 5px;
}
.photograph-stats .likes-container {
  display: flex;
  align-items: center;
}
.photograph-stats .likes-container .totalLikes {
  margin-right: 10px;
}
.photograph-stats p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-align: right;
}

#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(65, 65, 65, 0.4);
}
.modal {
  position: fixed;
  top: 5%;
  left: 25%;
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
  width: 35px;
}

.modal header h2 {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 25px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

form .contact_button {
  font-size: 18px;
line-height: 23px;
height: 45px;
margin-bottom: 30px;
}

.hide {
  display: none;
}