@import url("photographer.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  font-family: DM Sans;
  font-size: 36px;
  line-height: 47px;
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.photographer_section article:hover {
  transform: scale(1.05)  ;
}

.photographer_section article h2 {
  color: #BF5138;
  font-family: "Dm Sans";
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.photographer_section article p {
  font-family: DM Sans;
  font-size: 13px;
  line-height: 22px;
}

.photographer_section article .location {
  color: #901c1c;
}

.photographer_section article .tagline {
  font-size: 10px;
}
.photographer_section article .price {
  color: #757575;
  font-size: 9px;
}

.photographers-list {
}

.photographers-list img {
  width: 300px;
}
